{% extends 'layout.html' %}

{% block body %}
<div class='jumbotron text-center'>
      <h1>Edit device<br></h1><br>
          
      </div>
      
     <a class="btn btn-info" onclick="window.history.back()">Back</a>
     {% from "includes/_formhelpers.html" import render_field %}
     <form method="POST" action="">
         <div class="form-group">
             {{render_field(form.displayname, class="form-control")}}
         </div>
         <div class="form-group">
             {{render_field(form.descript, class="form-control")}}
         </div>

         <p><input type="submit" class="btn btn-primary" value ="Submit"></p>
     </form>
{% endblock %}
