{% extends 'layout.html' %}

{% block body %}
 <div class='jumbotron text-center'
      <h1>Palo Alto Networks Home UserID Manager</h1>
     <p class="lead">This app development is to help get UserID data into a Palo Alto Networks firewall. <br>
         It will deal with both static IP allocations and DHCP allocations <br> <br>
         The program was developed by Toby Makepeace - Systems Engineer Service Provider at Palo Alto Networks, <br>
         as an example. <br><br>
        I am not a developer, so please feel free to take apart.</p>
{% endblock %}
