<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Palo Alto Networks Home UserID Manager</title>
        <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
   </head>
    <body>
        
        {% include 'includes/_navbar.html' %}
        <div class="container" >
            {% include 'includes/_messages.html' %}
            {% block body %}{% endblock %}
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ url_for('static', filename = 'jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
    </body>
</html>
