{% extends 'layout.html' %}

{% block body %}
<div class='jumbotron text-center'>
      <h1>Devices registered in Group<br></h1><br>
</div>     
     <a href="/group" class="btn btn-info">Groups</a>
     <hr>
     
     <table class="table table-striped">
         <tr>
             <th>Group Name</th>
             <th>Description</th>
             <th></th>
             <th></th>
         </tr>
         {% for data in results %}
          <tr>
             <th>{{data.Hostname}}</th>
             <th>{{data.IPaddr}}</th>
             <th><a href="/deletemember/{{data.UID}}" class="btn btn-danger">Delete</a></th>
          </tr>
         {% endfor %}
                  
     </table>
     
{% endblock %}
 