{% extends 'layout.html' %}

{% block body %}
<div class='jumbotron text-center'>
      <h1>Firewall System Status<br></h1><br>
      
</div>      
     <hr>
     
     <table class="table table-striped">
          <tr>
              <th>HostName</th><th>{{hostname}}</th><th></th>
          </tr><tr>   
               <th>Model</th> <th>{{model}}</th><th></th>
          </tr><tr> 
              <th>Serial Number</th><th>{{serial}}</th><th></th>
          </tr><tr> 
              <th>Software Version</th> <th>{{swversion}}</th><th><a href="/upgrade" class="btn btn-success">Upgrade</a></th>
          </tr><tr>   
              <th>System Uptime</th><th>{{uptime}}</th> <th></th>
          </tr><tr> 
              <th>Application DB </th><th>{{appversion}}</th> <th>{{appdate}}</th>
          </tr><tr> 
              <th>Anti Virus DB </th><th>{{avversion}}</th> <th>{{avdate}}</th>
          </tr><tr> 
              <th>Threat DB </th><th>{{threatversion}}</th> <th>{{threatdate}}</th>
          </tr><tr> 
              <th>wildfire DB </th><th>{{wildfireversion}}</th> <th>{{wildfiredate}}</th>

              
          </tr>                
     </table>
     
{% endblock %}
 